*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/images/background.jpg);
    background-size: cover;
}
.navbar{
    width: 96vw;
    background-color: rgb(145, 160, 167,0.5);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position:fixed;
}
.navbar .logo{
    text-decoration: none;
    font-size:45px;
    color: rgb(232, 248, 7);
}
.dot{
    size: 40px;
    color: rgb(252, 217, 20);
}
.navbar ul{
    display: flex;
}
.navbar li{
    text-decoration: none;
    list-style: none;
    padding-top: 16px;
}
.navbar li a{
    text-decoration: none;
    padding: 15px;
    font-size: 1.2rem;
    color: rgb(250, 246, 2);
}
.navbar li a:hover{
    background-color: #0e0c0c;
    color: #faf9f9;
    border-radius: 18px;
}
#primary{
    text-align: center;
    padding-top:12% ;
}
.form{
    text-align: center;
    padding-top: 5%;
    font-size: 1.4rem;
}
.form .border{
    padding: 5px;
    border-radius: 12px;
    border: 1px solid darkorange;
}
.form .fmbtn{
    font-size: 15px;
    border-radius: 12px;
    background-color: rgb(231, 208, 179,0.6);
    border: 1px solid darkorange;
    margin-top: 8px;
    padding: 6px;
}
.form .txtarea{
    border-radius: 15px;
    padding: 10px;
    border: 1px solid darkorange;
}
.form .ft-color{
    color: rgb(80, 156, 255);
}
footer{
    display: flex;
    background-color: #0e0c0c;
    color: #faf9f9;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

footer a i{
  padding: 10px;
  font-size: 36px;
}